---
published: true
---
<html>
<head>
    <title>Kadeřnictví Black Hair, Blansko</title>
    {% include head.html %}
</head>
<body>
{% include google_analytics.html %}
{% include header.html %}

<div class="container">
    <!--<div class="hairstrand"></div>-->


    {% for post in site.posts %}
    <script type="text/JavaScript">
      $(function() {
      var dtFrom = new Date("{{post.from}}");
      var dtTo = new Date("{{post.to}}");
      var dtNow = new Date();
      if (dtNow >= dtFrom && dtNow <= dtTo) $(".{{post.code}}").show();
				      });



    </script>

    <div class="row time-boxed {{post.code}}">
        <div class="col-xs-9 sleva">
            <div class=" page-header">
                <h1>{{post.title}}</h1>
            </div>
            <div class="bs-component">
                <p>
                    <i>{{post.content}}</i>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

    <a name="first"></a>

    <div class="row">
        <div class="col-xs-9">
            <div class="page-header">
                <h1 id="navbar">Vítejte!</h1>
            </div>
            <div>
                <p>
                    Kadeřnictví Black Hair poskytuje kompletní kadeřnické služby, pohodlí, komfort a práci s těmi
                    nejkvalitnějšími vlasovými produkty značky Schwarzkopf Professional, která je na trhu více jak 110
                    let.
                </p>

                <p>
                    Nabídka zahrnuje nové trendy střihy, klasické i extravagantní účesy, barvení, melíry, trvalé,
                    svatební a
                    společenské účesy. Upravit své vlasy si mohou nechat dámy, pánové i děti.
                </p>

                <p>
                    Mimo vlasové služby můžete zkusit masáž hlavy nebo aromatickou masáž rukou.
                </p>

                <p>
                    Přijďte bez obav i se svými dětmi, je pro ně připravený hrací koutek, kde si mohou během Vaší
                    návštěvy nerušeně hrát.
                </p>
            </div>
        </div>
    </div>


    <a name="otviracka"></a>

    <div class="pad">
        <div class="row">
            <div class="col-xs-9">
                <div class="page-header">
                    <h1 id="navbar">Je otevřeno?</h1>
                </div>
                <div class="bs-component">
                    <p>Pondělí, středa, pátek: 10:00 - 18:00</p>

                    <p>Úterý, čtvrtek: 8:00 - 14:30</p>

                    <p>Sobota po domluvě</p>

                    <p>Neděle zavřeno</p>
                </div>
            </div>
        </div>
    </div>

    <a name="kontakt"></a>

    <div class="bs-docs-section clearfix pad">
        <div class="row">
            <div class="col-xs-9">
                <div class="page-header">
                    <h1 id="navbar">Napište, nebo raději zavolejte!</h1>
                </div>

                <div class="bs-component">
                    <p>Telefon: 732 758 968</p>

                    <p><i class="fa fa-facebook-official"></i><a target="_blank"
                                                                 onclick="ga('send', 'event', 'link', 'click', 'facebook');"
                                                                 href="https://www.facebook.com/pages/Black-Hair/799496366787357">Facebook</a>
                        - Novinky, aktuality, akce ...</p>
                </div>
            </div>
        </div>
    </div>

    <a name="cenik"></a>

    <div class="bs-docs-section clearfix pad">
        <div class="row">
            <div class="col-xs-9">
                <div class="page-header">
                    <h1 id="navbar">Kolik to stojí?</h1>
                </div>

                <div class="row">
                    <div class="col-xs-2 col-xs-offset-6">Krátké</div>
                    <div class="col-xs-2">Dlouhé</div>
                </div>
                <div class="row">
                    <div class="col-xs-1"><b>Dámy</b></div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Střih + foukaná (žehlení)</div>
                    <div class="col-xs-2">240</div>
                    <div class="col-xs-2">290</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Střih</div>
                    <div class="col-xs-2">100</div>
                    <div class="col-xs-2">130</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Foukaná bez střihu</div>
                    <div class="col-xs-2">150</div>
                    <div class="col-xs-2">200</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Žehlení, kulmování bez střihu</div>
                    <div class="col-xs-2">100</div>
                    <div class="col-xs-2">150</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Masáž hlavy s olejem, úprava bez střihu</div>
                    <div class="col-xs-2">200</div>
                    <div class="col-xs-2">300</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Masáž hlavy s olejem, úprava se střihem</div>
                    <div class="col-xs-2">300</div>
                    <div class="col-xs-2">420</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Barvení + střih + foukaná</div>
                    <div class="col-xs-2">480</div>
                    <div class="col-xs-2">560</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Melír + střih + foukaná</div>
                    <div class="col-xs-2">490</div>
                    <div class="col-xs-2">580</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Barvení + melír + střih + foukaná</div>
                    <div class="col-xs-2">550</div>
                    <div class="col-xs-2">690</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Barvení celá délka + střih</div>
                    <div class="col-xs-2">530</div>
                    <div class="col-xs-2">690</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Přeliv vlasů + střih + foukaná</div>
                    <div class="col-xs-2">450</div>
                    <div class="col-xs-2">550</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Trvalá + střih + foukaná</div>
                    <div class="col-xs-2">400</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Společenský účes</div>
                    <div class="col-xs-2">260</div>
                    <div class="col-xs-2">370</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Příplatek za dlouhé husté vlasy</div>
                    <div class="col-xs-2">150</div>
                </div>
                <div class="row">
                    <div class="col-xs-1"><b>Pánové</b></div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Střih + mytí + úprava</div>
                    <div class="col-xs-2">120</div>
                    <div class="col-xs-2">140</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Střih/Střih strojkem</div>
                    <div class="col-xs-2">80</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Ofina, vousy</div>
                    <div class="col-xs-2">40</div>
                </div>
                <div class="row">
                    <div class="col-xs-1"><b>Děti</b></div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Střih</div>
                    <div class="col-xs-2">80</div>
                    <div class="col-xs-2">100</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Kreativní střih + mytí + úprava</div>
                    <div class="col-xs-2">120</div>
                    <div class="col-xs-2">150</div>
                </div>
                <div class="row">
                    <div class="col-xs-1"><b>Masáže</b></div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Masáž rukou (aroma)</div>
                    <div class="col-xs-2">60</div>
                </div>
                <div class="row highlight-me">
                    <div class="col-xs-6">Masáž hlavy</div>
                    <div class="col-xs-2">40</div>
                </div>
            </div>
        </div>
    </div>

    <a name="mapa"></a>

    <div class="bs-docs-section clearfix pad">
        <div class="row">
            <div class="col-xs-9">
                <div class="page-header">
                    <h1 id="navbar">Kudy?</h1>
                </div>
                <div class="bs-component">
                    <div id="map-canvas"></div>
                    <div id="address">
                        <p> Black Hair<br/>
                            Bezručova 2273/4a, Blansko</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="row pad">
            <div class="col-lg-12">
                <hr/>
                <p class="text-right foot"><a href="http://blackhair.cz"  onclick="ga('send', 'event', 'link', 'click', 'zapati');">Black Hair</a>
                </p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
