---
published: true
---
<html>
<head>
    <title>Kadeřnictví Black Hair, Blansko</title>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="page-header">
                <h1 id="navbar">Olejová masáž hlavy s úpravou vlasů</h1>
            </div>
            <div class="bs-component">
                <p>
                    Pro měsíc květek pro Vás připravilo kadeřnictví Black Hair novinku v podobě <b>olejové masáže hlavy
                    s úpravou vlasů</b>!
                </p>

                <p>Zvolit si můžete buď olej <b>pupalkový</b> nebo <b>olivový</b></p>.

                <p>
                    <b>Pupalkový olej</b> je vhodný pro citlivou, suchou a stárnoucí pokožku, kterou promašťuje,
                    zvláčňuje, zjemňuje a zklidňuje. Podporuje fyziologickou obnovu pokožky a vlasů a udržuje jejich
                    elasticitu.
                </p>

                <p><b>Olivový olej</b> je vhodný pro suchou, zánětlivou, alergickou, poraněnou nebo podrážděnou pokožku.
                    Pečuje o citlivou pleť, je vhodný i pro nejmenší miminka a děti, regeneruje pokožku, je vhodný do
                    vlasových zábalů a balzámů. Vlasy vyživuje do hloubky a pomůže s regenerací i velmi zničených vlasů.
                </p>

                <p>Cena s mytím a konečnou úpravou (vyfoukání, vyžehlení, bez střihu) je pro <b>krátké vlasy 200,-</b> a
                    pro <b>dlouhé vlasy 300,-</b>.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="row pad">
            <div class="col-lg-12">
                <hr/>
                <p class="text-right foot"><a href="http://blackhair.cz">Black Hair</a>
                </p>
            </div>
        </div>
    </footer>


</div>
</body>
</html>
