<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#"><b class="lead-character">B</b>LACK <b class="lead-character">H</b>AIR</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/#"><i class="fa fa-home"></i> Vítejte!</a></li>
                <li><a href="/#otviracka"><i class="fa fa-clock-o"></i> Je otevřeno?</a></li>
                <li><a href="/#kontakt"><i class="fa fa-comments-o"></i> Kontakty!</a></li>
                <li><a href="/#cenik"><i class="fa fa-credit-card"></i> Kolik?</a></li>
                <li><a href="/#mapa"><i class="fa fa-globe"></i> Kudy?</a></li>
            </ul>
        </div>
    </div>
</nav>
