<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">

            <ul class="nav navbar-nav">
                <li>&nbsp;&nbsp;&nbsp;<img class="scissors" src="/resources/images/sc.png"></img>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="/#" class="logo">Black Hair</a></li>
                <li><a href="#"><i class="fa fa-home"></i> Vítejte!</a></li>
                <li><a href="#otviracka"><i class="fa fa-clock-o"></i> Je otevřeno?</a></li>
                <li><a href="#kontakt"><i class="fa fa-comments-o"></i> Napište!</a></li>
                <li><a href="#mapa"><i class="fa fa-globe"></i> Kudy?</a></li>
            </ul>
        </div>
    </div>
</div>
