<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<b>&nbsp;&nbsp;&nbsp;<img class="scissors" src="/resources/images/sc.png"></img>&nbsp;&nbsp;&nbsp;&nbsp;</b>-->
            <ul class="nav navbar-nav">
                <li> <a class="logo">Black Hair</a></li>
            </ul>

        </div>
        <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav">
                <li><a href="/#"><i class="fa fa-home"></i> Vítejte!</a></li>
                <li><a href="/#otviracka"><i class="fa fa-clock-o"></i> Je otevřeno?</a></li>
                <li><a href="/#kontakt"><i class="fa fa-comments-o"></i> Kontakty!</a></li>
                <li><a href="/#cenik"><i class="fa fa-credit-card"></i> Kolik?</a></li>
                <li><a href="/#mapa"><i class="fa fa-globe"></i> Kudy?</a></li>
            </ul>
        </div>
    </div>
</nav>