.hairstrand {
 background-image: url("/resources/images/hair-strandbw.jpg");
 background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  position: fixed;
  z-index:0;
  top: 100px;
  left: 70%;
}

.scissors {
height:auto;
 width:auto;
  max-width:50px;
   max-height:50px;
}


.navbar {
    padding-top: 40px;
    background: black;
    border: black;
//    background-image: url("/resources/images/header-backgroundbw.jpg");
}

.navbar .navbar-nav li a {
   color: white;
}

.navbar-nav>li>a {
    font-size: 130%;
}
a.navbar-brand {
    font-size: 19px;
}

.row p {
    font-size: 130%;
}

body {
padding-top: 100px;
 background: white;
}

.pad{
padding-top: 80px;
}


.dark {
background-color: rgb(232, 232, 232);
}

#map-canvas {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

.time-boxed {
    display: none; 
}

#address {
    display: none
}

a.logo {
    font-weight: bold;
    color: white;
    font-size: 220%;
}

.sleva {
    border-left-color:  rgb(255, 0, 255);
    border-left-style: solid;
    border-left-width: 5px;
}

.row{
    border: solid black 0px;
}


.foot {
font-size: 70% !important;
}

div.highlight-me {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: white;
}
div.highlight-me:hover {
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-bottom-color: black;
  cursor: default;
}